[Desktop Entry]
Encoding=UTF-8
Name=Base
Comment=Base Code
X-GNOME-FullName=Base
Exec=volti
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/menu.png
Categories=Menu;
StartupNotify=true
